#about{
	width:100%;
	height: 100vh;
	/* background-color:#ffffff; */
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}
.about-text{
	width: 50%;
    
}
.about-text h2{
	font-size: 2rem;
	
	font-weight: 400;
}
.about-text h2{
	margin: 0px;
	padding: 0px;
}
.about-text p{
	font-size: 1.2rem;
	color:#797979;
	
}
.about-text button{
	width: 140px;
	height: 40px;
	border-radius: 10px;
	border: none;
    outline: none;
    color: #ffffff;
	background-color:#000266;
}
.about-text button:hover{
	background-color: #d0ff00;
    transition: all ease 0.3s;
    color: #000266;
}
.about-model img{
    height: 400px;
}
@media(max-width:970px){
	.main{
		background-image: none !important;
		
	}
	.name{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.about-model{
		display: none;
	}
	#about{
		justify-content: center;
		padding-top: 0px;
	}
	.about-text{
		width: 90%;
	}
	.about-text h1{
		font-size:4rem;
    }
	
}